<% content_for :right_col do %>
<%= render 'layouts/right_col' %>
<% end %>

<h3>Комментарии к статье <%= link_to "#{@publication.title} -->>", publication_path(@publication), :title => "нажми тут чтобы перейти к публикации" %></h3>

<% @comments.each do |comment| %>
  <div class="post">
    <div class="post_text">
      <%= comment.body %>
    </div>
    <div class="post_auvtor">
      <%= User.find(comment.user_id).fio %>
      <%= comment.updated_at.strftime("%Y:%m:%d %H:%M") %>
    </div>
  </div>
<% end %>


<div class="post">
  <%= render 'form' %>
</div>