<%= link_to "Создать публикацию", new_publication_path %>
<h4 align="center">Список всех публикаций пользователя <%= current_user.fio %></h4>
<table>
  <% @publications.each do |p| %>
    <tr>
      <td><%= link_to p.title, publication_path(p) %></td>
      <td><%= p.created_at.strftime("%Y.%m.%d") %></td>
      <td><%= link_to "редактировать", edit_publication_path(p) %></td>
      <td><%= link_to "удалить", delete_publication_path(p) %></td>
    </tr>
  <% end %>
</table>
