<h1>Новая публикация</h1>
<div class="post">
<%= form_for @publication, :url => publication_path(@publication), :html => { :multipart => true } do |f| %>

  <% if @publication.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited
        this post from being saved:</h2>
      <ul>
      <% @publication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :size => "80" %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text, :cols => "92", :rows => "25" %>
  </p>
 
  <div class="form_box">
    <h3>Картинки:</h3>
    <script type="text/javascript">
    //<![CDATA[
    var catimg_attr_counter = 0 ;
    var user_id = <%= current_user.id %> ;
    //]]>
    </script>
    <div id='add_catalogimgs_block'>
      <% 1.times { @publication.images.build } %>
      <%= f.fields_for :images do |builder| %>
        <%= builder.hidden_field :user_id, :value => current_user.id %>
        <%= builder.file_field :picture %><br>
        Размер: <%= builder.text_field :size, :value => "300x200", :size=>6 %><br>
        Выравнивание: <%= builder.text_field :align, :value => "left", :size=>6 %><br>
      <% end %>
    </div>
    <p><a href="#" id='add_catalogimgs_link'>+ Добавить картинку</a></p>
  </div>

  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>