<% content_for :right_col do %>
<%= render 'templates' %>
<% end %>

<div class="publ_viewer">
	<div class="publ_header">
	  <%= @publication.title %>
	</div>
	<div class="publ_time">
	  <%= @publication.created_at.strftime("%Y.%m.%d") %>
	</div>
	<div class="publ_data">
		<% img_count = 0 %>
		<% @publication_text_arr_abzac.each do |abzac|%>
			<div class="publ_abzac">
				<% if @publication.images.count > 0 %>
					<% if @images[img_count] != nil && @images[img_count].size != "1x1" %>
						<%= image_tag @images[img_count].picture.url(:medium), :size => @images[img_count].size, :align=>"#{@images[img_count].align}" %>
					<% end %>
					<% img_count += 1 %>
				<% end %>
		  	<%= abzac.html_safe %>
			</div>
			<div class="publ_abzac_clear"></div>
		<% end %>
	</div>
	<div class="publ_avtor">
	  <%= User.find(@publication.user_id).fio %>
	</div>
</div>