<div class="post">
<h1>Изменить пользователя</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label "ФИО" %><br />
    <%= f.text_field :fio %>
  </p>
  <p>
    <%= f.label "Группа" %><br />
    <%= f.select :group, [['автор', 'автор'], ['администратор', 'администратор']] %>
  </p>

  <p class="button"><%= f.submit "Изменить" %></p>
<% end %>
</div>

