<div class="post">
<h1>Изменить пользователя</h1>

<%= form_for @user, :url => user_path(@user), :html => { :multipart => true } do |f| %>
  
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :login %><br />
    <% if current_user.group =~ /администратор/ %>
      <%= f.text_field :login %>
    <% else %>
      <%= f.text_field :login, :readonly => true %>
    <% end %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label "ФИО" %><br />
    <%= f.text_field :fio %>
  </p>
  <p>
    <%= f.label "Группа" %><br />
    <% if current_user.group =~ /администратор/ %>
      <%= f.select :group, [['автор', 'автор'], ['администратор', 'администратор']] %>
    <% else %>
      <%= f.select :group, [['автор', 'автор'], ['администратор', 'администратор']], {}, :disabled => true %>
    <% end %>
  </p>

  <p>
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %><br />
    <%= image_tag @user.avatar.url %>
  </p>
  
  <p>
    <%= f.label "Характеристика" %><br />
    <%= f.text_area :characterization %>
  </p>

  <p class="button"><%= f.submit "Изменить" %></p>
<% end %>
</div>

