<% content_for :right_col do %>
<%= render 'layouts/right_col' %>
<% end %>
<% @publications.each do |p|%>
  <div class="post">
    <div class="post_header"><%= p.title %></div>
    <div class="post_text">
      <%= p.text[0..500].html_safe + "......" %>
    </div>
    <div class="post_link">
      <a href="candidats.html" title="дави сюда">
        <%= link_to "читать дальше -->>", publication_path(p) %>
      </a>
    </div>
    <div class="post_auvtor">
      <%= link_to "Комментарии", publication_comments_path(p) %>|
      рубрика: <a href="#">новости</a>|
      автор:
      <a href="candidats.html" title="дави сюда">
        <%= User.find(p.user_id).fio %>
      </a>
      дата выпуска: <a href="#"><%= p.updated_at.strftime("%Y:%m:%d %H:%M") %></a>
    </div>
  </div>
<% end %>
