<div class="col3">
  <div>
    <% bashorg = Feedzirra::Feed.fetch_and_parse("http://bash.im/rss/") %>
    <h6><%= bashorg.title %></h6>
    <a href="<%= bashorg.entries.first.url %>" title="дави сюда">
      <%= bashorg.entries.first.summary.html_safe %>
    </a>
  </div>
  <div>
    <% pravda = Feedzirra::Feed.fetch_and_parse("http://gazeta-pravda.ru/component/option,com_rss/feed,RSS2.0/no_html,1/") %>
    <h6><%= pravda.title %></h6>
    <a href="<%= pravda.entries.first.url %>" title="дави сюда">
      <%= pravda.entries.first.summary.html_safe %>
    </a>
  </div>
  <div>
    <% pravda = Feedzirra::Feed.fetch_and_parse("http://gazeta-pravda.ru/component/option,com_rss/feed,RSS2.0/no_html,1/") %>
    <h6><%= pravda.entries[1].title %></h6>
    <a href="<%= pravda.entries[1].url %>" title="дави сюда">
      <%= pravda.entries[1].summary.html_safe %>
    </a>
  </div>
</div>