<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="title" content="StranaSovetov.info - Страна Советов">
  <meta name="description" content="Страна Советов">
  <meta name="keywords" content="Страна Советов">
  <title>StranaSovetov.info - Страна Советов</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/top' %>

  <div class="layout">
    <%= render 'layouts/left_col' %>
    <%= render 'layouts/right_col' %>
    <div class="col2">
    
      <%= render 'layouts/notice' %>

      <%= yield %>

    </div>
  </div>
  <div class="footer">Подвал</div>

</body>
</html>
