<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="title" content="StranaSovetov.info - Страна Советов">
  <meta name="description" content="На сайте представлена">
  <meta name="keywords" content="советская песня,патриотическая песня,патриотический">
  <title>StranaSovetov.info - Страна Советов</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
 <body>
  <div class="head1">
    <div class="logo1"><img src="images/flag.jpg" width="210" height="130"></div>
    <div class="logo_name1">СТРАНА СОВЕТОВ</div>
    <div class="logo_name_2">Тихорецкий район</div>
    <div class="logo_name_3">
      Тихорецкое районное отделение Краснодарского краевого отделения политической партии 
      &quotКоммунистическая партия Российской Федерации&quot
    </div>
    <a href="http://www.gazeta-pravda.ru/" class="pravdalink"><div class="pravda">Хочешь правды?<br>Тебе сюда>></div></a>
    <a href="http://kprf.ru/"><div class="logo2"><img src="images/kprflogo.jpg" width="130" height="130"></div></a>
  </div>

  <%= render 'layouts/left_menu' %>

  <%= render 'layouts/notice' %>

  <div id="content">
  	<%= yield %>
  </div>

  <div id="footer">
    все права защищены
  </div>
 
</body>
</html>
